@import "tailwindcss";

/* https://tailwindcss.com/docs/colors  */
@theme {
  --color-background: oklch(98.4% 0.003 247.858); /* slate 50 */

  --color-container: oklch(96.8% 0.007 247.896); /* slate 100 */
  --color-container-darker: oklch(92.9% 0.013 255.508); /* slate 200 */
  --color-border: oklch(92.9% 0.013 255.508); /* slate 200 */

  --color-elevated: oklch(96.8% 0.007 247.896); /* slate 100 */
  --color-accented: oklch(86.9% 0.022 252.894); /* slate 300 */
  --color-dimmed: oklch(70.4% 0.04 256.788); /* slate 400 */
  --color-muted: oklch(55.4% 0.046 257.417); /* slate 500 */

  --color-primary: #07f;

  --color-good: oklch(62.7% 0.194 149.214); /* green 600 */
  --color-bad: oklch(57.7% 0.245 27.325); /* red 600 */
}

@layer base {
  html {
    color: oklch(20.8% 0.042 265.755); /* slate 900 */
  }

  input,
  a,
  button {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-primary;
  }
}
